mixin btn({icon=undefined, type=undefined})

  if attributes.onclick || type === 'button'
    button.btn&attributes(attributes) 
      if icon
        if icon.side === 'left'
          span.icon(class=icon.class)
        block 
        if icon.side === 'right'
          span.icon(class=icon.class)
  else if attributes.href || type === 'a'
    a.btn&attributes(attributes) 
      if icon
        if icon.side === 'left'
          span.icon(class=icon.class)
        block
        if icon.side === 'right'
          span.icon(class=icon.class)
