mixin image-w-placeholder({path=undefined, alt=undefined, min=undefined, max=undefined})
  -  var sizes = ['sizes[]=' + min]
  -  var diff = 160
  -  max = max ? max : 1920
  -  min = min ? min : 100
  -  for (var start = min; (start + diff) <= max; start += diff)
  -   sizes.push('sizes[]=' + start)
  -  pictureSizes = sizes.join(',')

  span.image-w-placeholder 
    img(src=require('../'+ path + '?size=100'), class="placeholder-image")
    picture
     
      //- source(srcset=require('../'+ path + '?format=webp&sizes[]=480,sizes[]=640,sizes[]=800,sizes[]=1024,sizes[]=1450,sizes[]=1920'), type="image/webp")
      source(srcset=require('../'+ path + '?format=webp&'+ pictureSizes), type="image/webp")
      img(src=require('../'+ path), alt=alt)